<html ng-app='test'>
<head>
	<meta charset="utf-8">
	<title>mvvm</title>
</head>
<body ng-controller="TestController">

	<!-- case1 -->
	<details open>
	<summary>1</summary>
		<input type="text" ng-model="title">
		<p>{{title}}</p>
	</details>

	<!-- case2 -->
	<details open>
	<summary>2 </summary>
		name:<input type="text" ng-model="data.name">
		age:<input type="number" ng-model="data.age">
		<input type="radio" name="sex" ng-model="data.sex" value="1"/> 男
		<input type="radio" name="sex" ng-model="data.sex" value="0"/> 女
		<p>{{data}}</p>
		<button ng-click="submit()">submit</button>
	</details>
	
	
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module('test',[]);
		app.controller('TestController',['$scope',function($scope){
			$scope.title="test";

			$scope.data = {
				name:'runner',
				age:14,
				sex:1
			}

			$scope.submit = function(){
				console.log($scope.data);
			}
		}])
	</script>
</body>
</html>
